# Unreal artifacts not needed in container
*.pdb
*.obj
*.lib
*.exp
*.idb
*.pch
*.tmp
*.log
*.vs*
*.sln
*.suo
*.vcxproj*
*.ini.bak
*.dmp
DerivedDataCache/
Intermediate/
Saved/Autosaves/
Saved/Backup/
Binaries/Win64/
Binaries/Mac/
Content/**
!Content/Localization/
Plugins/**
!.gitignore
.git
.vscode
.DS_Store
*.zip
*.7z
*.rar
node_modules/
admin_api/__pycache__/
infra/pg_data/
infra/redis_data/
infra/sql/*.sql~
infra/sql/*.bak
